body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

h1{
    color: #f9f96b;
    text-align: center;
    margin-top: 50px;
}

h2.contact-us {
    color: #f9f96b;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}

p {
    background-color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
}