body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

/*------------Header------------------*/

h1{
    color: #f9f96b;
    text-align: center;
    margin-top: 50px;
}

.contact-us {
    color: #f9f96b;
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
}

.page-title {
    background-color: white;

}

.top-page-image {
    background-image: url("logo/logo_Contact-Electric-long.jpg");
    height: 80px;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.sidenav {
    width: 0; /* changes in JavaScript */
    position : fixed; 
    z-index: 1; /* Stay in front of logo*/
    background-color: #333;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the menu */
}

.sidenav .exit-buttn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

/* Menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f9f96b;
    display: block;
    transition: 0.3s;
}

/* menu buttn itself */
.menu-toggle {
    font-size: 20px;
    cursor: pointer;
    color: black;
    padding-top: 26px;
    left: 10px;
    background-color: transparent;
    border: none;
}

.menu-toggle:hover {
    color: #626255;
}
/*---------------Main Content------------------------*/

.main-content {
    transition: margin-left .5s;
    padding: 20px;
    background-color: white;
    text-align: left;
}

/*---------------About Content------------------------*/

.about-content {
    transition: margin-left .5s;
    padding: 20px;
    background-color: white;
    text-align: left;
}
aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}
.legality {
    color: #f9f96b;
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
}

.collapser {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapser:hover {
    background-color: red;
}

.collapser:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
     content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content {
    color: black;
    padding: 0 18px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    background-color: #f1f1f1;
}

.about-extra {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
}

/*-----------------Service Content-----------------------*/

.service-content {
    display: flex;
    flex-direction: row;
}
.services {
    display: grid;
    grid-template-columns: auto auto auto;
    transition: margin-left .5s;
    padding: 20px;
    background-color: black;
    text-align: left;
}

.services div {
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.reviews {
    background-color: white;
}

/*-----------------Service Request Content-----------------------*/
.request-form {
    
    transition: margin-left .5s;
    padding: 20px;
    background-color: white;
    text-align: left;
}


/*------------------Footer------------------------- */
.request-button {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #ff3300;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.motivations {
    color: #f9f96b;
    text-align: center;
}

.request-button:hover {
    background-color: #fff587;
    font-weight: bold;
    color: black;
}

footer {
    background-color: black;
    color: #7c7979;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    bottom: 0;
}

.company-info {
    margin-top: 20px;
    display: flex;
    color: white;
}  

.dark-logo {
    width: 150px;
    height: auto;
}

footer a {
    color: #f9f96b;
    text-decoration: none;
}
/*------------------------------*/